@model npsme.Models.SurveyViewModel
@{
    ViewBag.Title = "Survey";
}

<h2>Survey</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.PhoneNumber)
        @Html.HiddenFor(model => model.SurveyId)

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber)
            <div class="form-inline">
                @Html.TextBoxFor(model => model.PhoneNumber, new { disabled = "disabled", @class = "form-control" })
                <input type="text" id="AreaCode" placeholder="area code" size="5" class="form-control" style="width:100px" />
                <input type="button" value="Search" id="PhoneNumberSearch" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ResponseText)
            @Html.TextAreaFor(model => model.ResponseText, new { @class = "form-control" })
        </div>
        <div class="checkbox">
            @Html.LabelFor(model => model.IsEnabled)
            @Html.CheckBoxFor(model => model.IsEnabled)
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    }
</div>


<hr />
<h3>Survey Responses</h3>

@if (Model.Responses.Count() > 0) {
    
    <div class="row">
        <div class="col-lg-8">Body</div>
        <div class="col-lg-8">Score</div>
        <div class="col-lg-2">Created At</div>
        <div class="col-lg-2"></div>
    </div>

    foreach (var response in Model.Responses)
    {
        <div class="row">
            <form>
                <div class="col-lg-6" id="body">
                    <span class="response display body">@response.Body</span>
                    <div class="form-inline">
                        <input class="form-control response edit body" style="display:none" value="@response.Body" />
                    </div>
                </div>
                <div class="col-lg-2" id="score">
                    <span class="response display score">@response.Score</span>
                    <div class="form-inline">
                        <input class="form-control response edit score" style="display:none" value="@response.Score" />
                    </div>
                </div>
                <div class="col-lg-2">@response.CreatedAt</div>
                <div class="col-lg-2">
                    @*<a class="response display" style="cursor:pointer">Edit</a>*@
                    <input type="button" class="btn btn-default response display" data-responseid="@response.ResponseId" value="Edit" />
                    <input type="button" class="btn btn-default response edit save" data-responseid="@response.ResponseId" style="display:none" value="Save" />
                    <input type="button" class="btn btn-default response edit cancel" style="display:none" value="Cancel" />
                    @*<a class="response edit" data-responseid="@response.ResponseId" style="display:none;cursor:pointer">Cancel</a>*@
                </div>
            </form>
        </div>
    }
}
else
{
    <div class="col-lg-12">No Survey Responses</div>
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#PhoneNumberSearch').click(function () {
                $.post('/Home/PhoneNumber', { 'areacode': $('#AreaCode').val() }, function (data) {
                    $('input[type=text]#PhoneNumber').val(data);
                    $('input[type=hidden]#PhoneNumber').val(data);
                });
                return false;
            });

            $("input[type='button'].display").click(function () {
                var responseid = $(this).data("responseid");
                var row = $(this).closest(".row");

                $(".response.edit").hide();
                $(".response.display").show();

                row.find(".response.edit").toggle();
                row.find(".response.display").toggle();
            });

            $("input[type='button'].edit.cancel").click(function () {
                $(".response.edit").hide();
                $(".response.display").show();
            });

            $("input[type='button'].edit.save").click(function () {
                var responseid = $(this).data("responseid");
                var row = $(this).closest(".row");

                var body = row.find(".edit.body").val();
                var score = row.find(".edit.score").val();

                $.post("/Home/SurveyResponse", { 'responseid': responseid, 'body': body, 'score': score }, function (data) {
                    //$('span.response.display[data-responseid=' + responseid + ']').text();

                    row.find("span.body").text(body);
                    row.find("span.score").text(score);

                    $(".response.edit").hide();
                    $(".response.display").show();
                });
                return false;
            });
        });
        //function onSuccess(data) {
        //    console.log(data);

        //    $('#PhoneNumber').val(data);
        //}
    </script>
}